.left {
    width:256px;
    Height:256px;
    float:left;
}
.right {
    width:800px;
    float:right;
}

body {
    background-color: #222;
    color: #ccc;
}
.card {
    background-color: #222;
    color: #ccc;
}

